* {
    padding: 0;
    margin: 0;
    height: 100%;
}
.login-container {
    box-sizing: border-box;
    max-width: 100%;
}
.login-content {
    display: flex;
    overflow: hidden;
}
.login-content-left {
    width: 55%;
    background-color: transparent;
}
.left-item {
    display: flex;
    align-items: center;
    height: max-content;
    flex-direction: column;
    margin-top: 100px;
}
.left-item-img {
    width: 80%;
}
.left-item-p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 800;
}
.login-content-right {
    width: 45%;
    background-color: rgb(224, 221, 221);
}
.right-item {
    height: max-content;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}
form {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 60px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2), 0 1px 4px hsla(0, 0%, 0%, 0.2),
    0 2px 8px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    border-radius: 5px;
}
label {
    display: inline-block;
}
.mar5 {
    margin-bottom: 5px;
}
.mar10 {
    margin-bottom: 10px;
}
.mar15 {
    margin-bottom: 15px;
}
.right-item-h3 {
    font-size: 25px;
}
.right-item-input {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgb(201, 199, 199);
}
.right-item-input:focus {
    outline-color:  rgb(201, 199, 199);
}
.right-item-button {
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    background-color: #0575E6;
    cursor: pointer;
}
.right-item-link {
    text-align: center;
    font-size: 12px;
}
.right-item-link a {
    text-decoration: none;
    color: rgb(162, 161, 161);
}