* {
    padding: 0;
    margin: 0;
}
.register-container {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.register-content {
    display: flex;
}
.register-content-left {
    width: 55%;
    height: 735px;
}
.register-content-left-item img{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.register-content-left-item{
    padding-top: 50px;
}
.register-content-right {
    width: 45%;
    height: 735px;
    background-color: rgb(224, 221, 221)
}
.register-content-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
form {
    padding: 30px 50px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.2), 0 1px 4px hsla(0, 0%, 0%, 0.2),
    0 2px 8px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    border-radius: 5px;
}
.form-h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    text-align: center;
    padding-bottom: 20px;
}
input[type=text] {
    padding: 6px 10px;
    border-radius: 5px;
}
.form-input {
    line-height: 30px;
}
.form-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0575E6;
    width: 100%;
    border-radius: 5px;
}
.form-btn a {
    text-decoration: none;
    color: white;
}
.form-input > p > a{
    text-decoration: none;
    color: rgb(162, 161, 161);
}